*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  background-image: url('./assets/Mountains.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-out;
}

.app.warm {
  background-image: url('./assets/Ferns.jpg');
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
display: block;
width: 100%;
padding: 18px;
appearance: none;
background: none;
border: none;
outline: none;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 15px;
box-shadow: 0px 5px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);

}